/* adoptStyling.css stylizes adopt.html
 *
 * Authors: Justin Baskaran, Gavin Martin, Ian Christensen
 * Professor: Keith Vander Linden
 * Class: CS-336-A, for Calvin College
 * Semester: Fall, 2018
 */

#adoptScreen {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: column;
}

#adopContainer {
    margin-top: 8%;
    min-width: 350px;
    min-height: 400px;
    width: 35%;
    height: 65%;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(white, rgb(192, 248, 248), white);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 35px;
    border: 3px;
    border-style: solid;
    border-color: rgb(45, 121, 184);
}

#adoptImageHolder {
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    overflow: hidden;
}

.adoptImage {
    width: 100%;
    height: 100%;
}

#adoptInfoContainer {
    background-color: rgb(247, 247, 255);
    width: 40%;
    min-width: 250px;
    max-width: 600px;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1.5%;
    border: .5px;
    border-style: solid;
    border-color: black;
    padding: 3%;
}

.adoptInfoLine {
    width: 100%;
    margin-bottom: 7.5%;
}

.adoptInfoLineLast {
    width: 100%;
}

.adopInfoTitle {
    float: left;
    font-size: 22px;
}

.adoptInfoDesc {
    float: right;
    font-size: 22px;
}

#adoptButtonContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#heartButton {
    float: left;
    width: 80px;
    height: 80px;
}

#xoutButton {
    float: right;
    width: 80px;
    height: 80px;
}

#swipeButtons {
    position: sticky;
    width: 100%;
}

#leftBttn {
    float: left;
    width: 50px;
    height: 50px;
}

#rightBttn {
    float: right;
    width: 50px;
    height: 50px;
}

@media screen and (max-height: 660px) {
    #heartButton {
        width: 60px;
        height: 60px;
    }

    #xoutButton {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-height: 600px) {
    .menuBar>#pinderLogoMain {
        width: 133px;
        height: 60px
    }
}

@media screen and (max-width: 900px) {
    #leftBttn {
        float: left;
        width: 40px;
        height: 40px;
    }

    #rightBttn {
        float: right;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 700px) {
    #leftBttn {
        float: left;
        width: 35px;
        height: 35px;
    }

    #rightBttn {
        float: right;
        width: 35px;
        height: 35px;
    }
}
