/* matchesStyling.css stylizes matches.html
 *
 * Authors: Justin Baskaran, Gavin Martin, Ian Christensen
 * Professor: Keith Vander Linden
 * Class: CS-336-A, for Calvin College
 * Semester: Fall, 2018
 */

#matchesScreen {
    display: flex;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 650px;
    justify-content: center;
    flex-flow: column;
}

.menuBar>#pinderLogoMain {
    width: 250px;
    height: 100px
}

#tableHeading {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(216, 216, 216), rgb(255, 255, 255));
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 10%;
    color: red;
    font-size: 35px;
    font-family: fantasy;
    text-align: center;
    display: block;
    font-weight: bold;
    padding-top: 2%;
    border: 2px;
    border-style: solid;
    border-color: rgb(138, 138, 138);
}

#matchesTableBackground {
    width: 60%;
    height: 50%;
    background-color: rgb(192, 248, 248);
    background-repeat: no-repeat;
    background-size: contain;
    border: 1.5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
}

#matchesTable {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;
}

th {
    font-size: 30px;
    text-align: center;
    border: 0px;
    background-color: rgba(144, 173, 255, 0.575);
}

td {
    font-size: 25px;
    text-align: center;
    border-bottom: .75px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
}

td.matchType {
    width: 15%;
    font-family: fantasy;
}

td.matchImage {
    width: 15%;
}

.matchImage>img {
    height:80px;
    width:80px;
    border:1.5px;
    border-color:darkblue;
}

td.matchBreed {
    width: 30%;
}

td.matchName {
    width: 30%;
}

tr {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(194, 246, 255, 0.808), rgb(255, 255, 255));
    height: 85px;
}

@media screen and (max-width: 800px) {
    td {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    #matchesTableBackground {
        width: 75%;
    }

    #tableHeading {
        background-image: linear-gradient(rgb(180, 180, 180));
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        width: 75%;
        height: 10%;
        color: red;
        font-size: 35px;
        font-family: fantasy;
        text-align: center;
        background-image: linear-gradient(rgb(180, 180, 180));
        background-size: contain;
        display: block;
    }

    td {
        font-size: 17.5px;
    }
}

@media screen and (max-width: 600px) {
    td {
        font-size: 15px;
    }
}
